<div class="container">
  <div class="row">
    <div class="col-lg-12">
　    <h2>商品一覧</h2>
　    <h2>
  　     <%= link_to new_admin_item_path do %>
  　       <i class="col text-right fa-solid fa-plus"></i>
        <% end %>
      </h2>
      <br>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <td><strong>商品ID</strong></td>
          <td><strong>商品名</strong></td>
          <td><strong>税抜価格</strong></td>
          <td><strong>ジャンル</strong></td>
          <td><strong>ステータス</strong></td>
        </tr>
      </thead>
      <tbody>
      <%= @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.name %></td>
          <td><%= item.price %></td>
          <td><%= item.genre %></td>
          <td><%= item.status %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>