<div class="container">
  <div class="row">
    <div class="col text-center">
      <p>ようこそ、ながのCAKEへ！</p>
      <p>このサイトは、ケーキ販売のECサイトになります。</p>
      <p>会員でない方も商品の閲覧はできますが、</p>
      <p>購入には会員登録が必要になります。</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-center">
      <h2><strong>新着商品</strong></h2>
      <table class="table table-borderless">
      <%= @items.each do |item| %>
      <%= link_to item_path(item) do %>
        <tr>
          <td><%= image_tag item.get_image(200,200), class: "image" %></td>
        </tr>
      <% end %>
        <tr>
          <td><strong><%= item.name %></strong></td>
        </tr>
        <tr>
          <td><strong><%= item.price %></strong></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <%= link_to "全ての商品を見る >>>", items_path %>
    </div>
  </div>
</div>