<div class="container">
  <div class = "row">
    <div class = "offset-1 text-center"> 
      <h3 class = "my-4 px-4 bg-secondary">
        注文情報確認
      </h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col-8 mx-0">
      <table class="table table-bordered">
        <thead>
          <tr class="table-secondary">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= image_tag cart_item.item.get_image(100,100) %>
                <%= cart_item.item.name %>
              </td>
              
              <td class="align-middle">
                  <%= cart_item.item.with_tax_price.to_i.to_s(:delimited) %>
              </td>
              
              <td class="align-middle">
                  <%= cart_item.amount %>
              </td>
              
              <td class="align-middle">
                <%= (cart_item.item.with_tax_price * cart_item.amount).to_i.to_s(:delimited) %>
              </td>
              
              <!--アイテムごとに合計金額に加算する-->
              <% @total_price += (cart_item.item.with_tax_price*cart_item.amount) %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <div class="col-3 mx-0">
      <table class="table table-bordered ml-4">
        <tbody>
          <tr>
            <th class="table-secondary">送料</th>
            <td class="align-middle"><%= @order.shipping_fee.to_s(:delimited) %></td>
          </tr>
          
          <tr>
            <th class="table-secondary">商品合計</th>
            <td><%= @total_price.to_i.to_s(:delimited) %></td>
          </tr>
          
          <tr>
            <th class="table-secondary">請求金額</th>
            <td><%= (@total_price += @order.shipping_fee).to_i.to_s(:delimited) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col-2 d-flex justify-content-center">
      <h4 class="font-weight-bold">支払方法</h4>
    </div>
    <div class="col d-flex text-left align-items-center">
      <%= @order.payment_method %>
    </div>
  </div>
  
  <div class= "row">
    <div class="col-2 d-flex justify-content-center">
      <h4 class="font-weight-bold">お届け先</h4>
    </div>
    <div class="col d-flex text-left align-items-center">
      〒<%= @order.post_code %><%= @order.address %></br>
      <%= @order.name %>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <%= form_with model: @order, url: orders_path, method: :post do |f| %>
      <%= f.hidden_field :customer_id, value: current_customer.id %>
      <%= f.hidden_field :post_code, value: @order.post_code %>
      <%= f.hidden_field :address, value: @order.address %>
      <%= f.hidden_field :name, value: @order.name %>
      <%= f.hidden_field :shipping_fee, value: @order.shipping_fee %>
      <%= f.hidden_field :total_payment, value: @total_price %>
      <%= f.hidden_field :payment_method, value: @order.payment_method %>
      <%= f.submit "注文を確定する", class: "btn btn-success mt-5" %>
    <% end %>
  </div>
</div>