<h1>Public::Orders#index</h1>
<p>Find me in app/views/public/orders/index.html.erb</p>
<div class="container">
  <div class="row">
    <table class="table table-bordered col">
      <thead>
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td>
            <%= order.created_at %>
          </td>
          <td>
            <%= order.post_code %><br>
            <%= order.address %><br>
            <%= order.name %>
          </td>
          <td>
            <!--多分複雑-->
            <%= order.item_id.name %>
          </td>
          <td>
            <%= order.status %>
          </td>
          <td>
            <%= link_to '表示する', orders_path(order.id), class:"btn btn-primary form-control" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>