<div class="container">
  <div class = "row">
    <div class = "offset-1 text-center"> 
      <h3 class = "my-4 px-4 bg-secondary">
        注文情報入力
      </h3>
    </div>
  </div>

  <div class="row">
    <%= form_with model: @order, url: orders_confirm_path do |f| %>
      <h4 class="font-weight-bold">支払方法</h4>
      <div class="col ml-4">
        <%= f.radio_button :payment_method, "クレジットカード" %>
        <%= f.label :payment_method_credit_card, "クレジットカード" %>
      </div>
      <div class="col ml-4">
        <%= f.radio_button :payment_method, "銀行振込" %>
        <%= f.label :payment_method_transfer, "銀行振込" %>
      </div>
      
      <h4 class="font-weight-bold">お届け先</h4>
      <div class="col ml-4">
        <%= f.radio_button :select_address, "self_address" %>
        <%= f.label :address_number_self_address, "ご自身の住所" %>
      </div>
      <div class="col ml-5 mb-3">
        〒<%= @customer_info.post_code %> <%= @customer_info.address %></br>
        <%= @customer_info.last_name %><%= @customer_info.first_name %>
      </div>

      <div class="col ml-4">
        <%= f.radio_button :select_address, "registered_address" %>
        <%= f.label :address_number_registered_address, "登録済み住所から選択" %>
      </div>
      <div class="col ml-5 mb-3">
        <% if current_customer.addresses.blank? %> 
          <%= f.select :address_id do %>
            <option value="">登録なし</option>
          <% end %>
        <% else %>
          <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display) %>
        <% end %>
      </div>
      
      <div class="col ml-4">
        <%= f.radio_button :select_address, "new_address" %>
        <%= f.label :address_number_new_address, "新しいお届け先" %>
      </div>
      <div class="col ml-5">
        <table class="table table-borderless">
          <tr>
            <td>郵便番号(ハイフンなし)</td>
            <td><%= f.text_field :post_code, autofocus: true, placeholder: "0000000" %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= f.text_field :address, autofocus: true, size: "60", placeholder: "東京都渋谷区代々木神園町0-0" %></td>
          </tr>
          <tr>
            <td>宛名</td>
            <td><%= f.text_field :name, autofocus: true, placeholder: "令和道子" %></td>
          </tr>
        </table>
      </div>
      
      <div class="justify-content-center d-flex">
        <%= f.submit "確認画面へ進む", class:"btn btn-primary mt-2" %>
      </div>
    <% end %>
  </div>
</div>
