<div class="container">
  <div class = "row">
    <div class = "offset-1 text-center"> 
      <h3 class = "my-4 px-4 bg-secondary">
        注文情報入力
      </h3>
    </div>
  </div>
  
  <div class="row mx-0">
    <div class="col-8">
      <h4>注文情報</h4>
      <table class="table table-bordered mt-1">
        <tr>
          <td class="col-4 table-secondary align-middle">
            注文日
          </td>
          <td>
            <%= @order.created_at.strftime('%Y/%m/%d') %>
          </td>
        </tr>
        <tr>
          <td class="col-4 table-secondary align-middle">
            配送先
          </td>
          <td>
            〒<%= @order.post_code %><br>
              <%= @order.address %><br>
              <%= @order.name %>
          </td>
        </tr>
        <tr>
          <td class="col-4 table-secondary align-middle">
            支払方法
          </td>
          <td>
            <%= @order.payment_method %>
          </td>
        </tr>
        <tr>
          <td class="col-4 table-secondary align-middle">
            ステータス
          </td>
          <td>
            <%= @order.status %>
          </td>
        </tr>
      </table>
    </div>
 
    <div class="col-4">
      <h4>請求情報</h4>
      <table class="table table-bordered mt-1">
        <tr>
          <td class="col-6 table-secondary align-middle">
            商品合計
          </td>
          <td>
            <%= (@order.total_payment - @order.shipping_fee).to_i.to_s(:delimited) %>
          </td>
        </tr>
        <tr>
          <td class="col-6 table-secondary align-middle">
            配送料
          </td>
          <td>
            <%= @order.shipping_fee.to_i.to_s(:delimited) %>
          </td>
        </tr>
        <tr>
          <td class="col-6 table-secondary align-middle font-weight-bold">
            ご請求額
          </td>
          <td>
            <%= @order.total_payment.to_i.to_s(:delimited) %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="row col mx-0">
    <h4>注文内容</h4>
    <table class="table table-bordered">
      <thead>
        <tr class="table-secondary align-middle">
          <th class="col-4">商品</th>
          <th class="col-2">単価(税込)</th>
          <th class="col-1">個数</th>
          <th class="col-1">小計</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_details.each do |order_detail| %>
        <tr>
          <td class="align-middle">
            <%= order_detail.item.name %>
          </td>
          <td class="align-middle">
            <%= order_detail.price.to_i.to_s(:delimited) %>
          </td>
          <td class="align-middle">
            <%= order_detail.amount %></br>
          </td>
          <td class="align-middle">
            <%= (order_detail.price * order_detail.amount).to_i.to_s(:delimited) %></td>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>