<div class="container">
  <div class="row">
    <div class="col-lg-10 mt-5 mx-auto">
      <h3><strong>商品一覧</strong>(全<%= @items.count %>件)</h3>
      <table class="table table-borderless">
        <% @items.each_slice(5) do |items_group| %>
          <tr>
            <% @items.each_with_index do |item| %>
              <td>
                <%= link_to item_path(item) do %>
                  <%= image_tag item.get_image(200,200), class: "image" %>
                <% end %>
                <br>
                <strong><%= item.name %></strong>
                <br>
                <strong>¥<%= item.price %></strong>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="text-center">
      <%= paginate @items %>
    </div>
  </div>
</div>