<div class="container">
  <div class="row">
    <div class="col-lg-10 mt-5 mx-auto">
      <h3><strong>商品一覧</strong>(全<%= @items.count %>件)</h3>
      <table class="table table-borderless">
        <% @items.each do |item| %>
            <tr>
              <th>
                <%= link_to item_path(item) do %>
                  <%= image_tag item.get_image(200,200), class: "image" %>
                <% end %>
              </th>
            </tr>
            <tr>
              <td>
                <strong><%= item.name %></strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>¥<%= item.price %></strong>
              </td>
            </tr>
        <% end %>
      </table>
    </div>
    <div class="text-center">
      <%= paginate @items %>
    </div>
  </div>
</div>